:root {
    --branco: #FFFFFF;
    --cinza: #667085;
    --vinho: #8E2424;
    --vinho_5: rgba(142, 36, 36, 0.05);
    --cinza-escuro: #101828;
    --cinza-claro: #667085;

}

body {
    font-family: 'Inter';
    font-size: 16px;
    background-color: var(--branco);
    margin: 0 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 32px;
}

.cabecalho__menu {
    display: flex;
}

.cabecalho__logo {
    margin-right: 60px;
}

.lista-menu {
    display: flex;
    list-style-type: none;
    margin-left: 60px;

}

.lista-menu__link {
    text-decoration: none;
    color: var(--cinza);
    font-weight: 500;
    padding-right: 32px;
}

.botoes {
    display: flex;
    list-style-type: none;
}

.botoes__ancora {
    text-decoration: none;
    color: var(--cinza);
    font-weight: 500;
    padding: 10px 18px;
}

.botoes__ancora-cadastrar {
    background-color: var(--vinho);
    color: var(--branco);
    border-radius: 8px;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;

}

.sobre__titulo {
    font-size: 16px;
    font-weight: 600;
    color: var(--vinho);
    margin: 0px;
}

.sobre__descricao {
    font-size: 48px;
    font-weight: 600;
    margin: 24px 0;
}

.sobre__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza);
    text-align: center;
    line-height: 30px;
    margin: 0px;
    width: 792px;
    height: 83px;
}

.metricas {
    display: flex;
    padding: 0 32px;
    margin-bottom: 96px;
    justify-content: space-between;

}

.metricas div {
    width: 280px;
}

.titulo__metricas {
    font-size: 60px;
    font-weight: 600;
    color: var(--vinho);
    margin: auto;
}

.descricao__metricas {
    font-size: 18px;
    font-weight: 500;
}

.texto__metricas {
    font-weight: 400;
    color: var(--cinza);
    line-height: 24px;
}

.talentos__anuncio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talentos__titulo {
    font-size: 14px;
    font-weight: 500;
    color: var(--vinho);
    background-color: var(--vinho_5);
    border-radius: 10px;
    padding: 4px 12px;
    margin: 0 0 16px 0;
}

.talentos__descricao {
    font-size: 36px;
    font-weight: 600;
    color: var(--cinza-escuro);
    margin: auto;
    margin-bottom: 20px;
}

.talentos__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza-claro);
    margin: auto;
}

.talentos__imagem {
    text-align: center;
    margin: 64px 32px;
}

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.vagas__titulo {
    font-size: 20px;
    font-weight: 500;
    color: var(--cinza-escuro);
    margin-bottom: 8px;
}

.vagas__titulo h2 {
    margin: 0;
}

.vagas__titulo-software {
    margin-top: 40px;
}

.vaga {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px;

}

.vaga,
.vagas__titulo {
    width: 40%;
}

.titulo-vaga {
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza-escuro);
}

.informacoes {
    display: flex;
    gap: 24px;
    font-weight: 500;
    color: var(--cinza);

}

.depoimentos {
    margin: 96px 32px;
    background-color: var(--vinho_5);
    border-radius: 16px;
    padding: 64px;
}


.depoimentos__descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.depoimentos__descricao-titulo {
    font-size: 14px;
    font-weight: 600;
    color: var(--vinho);
}

.depoimentos__descricao-comentario {
    font-size: 36px;
    font-weight: 500;
    color: var(--cinza-escuro);
    margin: 0;
    text-align: center;
}

.depoimentos__perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.depoimentos__perfil-nome {
    font-weight: 500;
    color: var(--cinza-escuro);
    margin-top: 16px;
    margin-bottom: 4px;
}

.depoimentos__perfil-profissao {
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza);
}

.rodape {
    background-color: #F9FAFB;
    padding: 96px 0px;
    text-align: center;
    margin: 0 -80px;

}

.rodape__conteudo-titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--cinza-escuro);
}

.rodape__conteudo-descricao {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza-claro);
}

.rodape__conteudo-cadastro {
    margin-top: 40px;
}

.rodape__conteudo-cadastro-input {
    padding: 12px 14px 12px 16px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    width: 360px;
}

.rodape__conteudo-cadastro-botao {
    background-color: var(--vinho);
    color: var(--branco);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 18px;
}

.rodape__conteudo-copyright {
    font-weight: 400;
    color: #98A2B3;
    margin-top: 32px;
}