:root {
    --branco: #FFFFFF;
    --cinza: #667085;
    --vinho: #8E2424;
}

body {
    font-family: 'Inter';
    font-size: 16px;
    background-color: var(--branco);
    margin: 0 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 32px;
}

.cabecalho__menu {
    display: flex;
}

.cabecalho__logo {
    margin-right: 60px;
}

.lista-menu {
    display: flex;
    list-style-type: none;
    margin-left: 60px;

}

.lista-menu__link {
    text-decoration: none;
    color: var(--cinza);
    font-weight: 500;
    padding-right: 32px;
}

.botoes {
    display: flex;
    list-style-type: none;
}

.botoes__ancora {
    text-decoration: none;
    color: var(--cinza);
    font-weight: 500;
    padding: 10px 18px;
}

.botoes__ancora-cadastrar {
    background-color: var(--vinho);
    color: var(--branco);
    border-radius: 8px;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;

}

.sobre__titulo {
    font-size: 16px;
    font-weight: 600;
    color: var(--vinho);
    margin: 0px;
}

.sobre__descricao {
    font-size: 48px;
    font-weight: 600;
    margin: 24px 0;
}

.sobre__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza);
    text-align: center;
    line-height: 30px;
    margin: 0px;
    width: 792px;
    height: 83px;
}

.metricas {
    display: flex;
    padding: 0 32px;
    margin-bottom: 96px;
    justify-content: space-between;

}

.metricas div {
    width: 280px;
}

.titulo__metricas {
    font-size: 60px;
    font-weight: 600;
    color: var(--vinho);
    margin: auto;
}

.descricao__metricas {
    font-size: 18px;
    font-weight: 500;
}

.texto__metricas {
    font-weight: 400;
    color: var(--cinza);
    line-height: 24px;
}